<div id="login">
    <div class="container containertext">
    <div class="content">


     <p>
      <b><font size="6" align="left"></font></b><p>
      <font size="4" align="left" color="white">Debug, Connect and Hack!</font><p>
      <b><font size="6" align="left" color="white" align="left">Hack the Hacker!</font><br><p></p></b><br>
      <font size="3" align="left" color="white" align="left">Come join us to fix open vulnerabilities in PayPal systems and win exciting prizes!</font>
      <br><br>
      <font size="3" align="left" color="white" align="left">When: <b>Mar 14<sup>th</sup> 9 am - Mar 15<sup>th</sup> 12 pm, 2019</b></font><br>
      <font size="3" align="left" color="white" align="left">Where: <b>Town Square ABC</b></font><br>
      
      <font size="3" align="left" color="white" align="left">Registration Ends: <b>Mar 7<sup>th</sup> 9:00 AM, 2019</b></font><p>
      <br>
        <font size="3" align="left" color="white">Prizes</font><br>
        <font size="3" align="left" color="white">1st place: TBD<br>
        2nd place: TBD<br>
        3rd place: TBD<br></font>
        <br>
      
          <p>
            Winners will be announced by 2 PM PST on March 15<sup>th</sup> followed by an after party!
<br><br><br>
        
          <a href="/faq1"><font size="2" align="left" color="white"><u>FAQ</u></font></a> 
          <font size="2" align="left" color="white"> | </font>
          <a href="mailto:DL-PP-Eserv-SanJose-Innovation@paypal.com"><font size="2" align="left" color="white"><u>Contact Us</u></font></a>

          </div>
    </div>
  <div class="container">
    <div class="content">
      <div class="ui segment">

        <div class="logo">
          <img src="assets/images/hacker.png">
        </div>

        <div class="ui divider"></div>

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

        <div ng-show="loginState === 'login'">
          <div class="ui login-password form">
            <form ng-submit="login()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@paypal.com"
                       ng-model="email">
              </div>
              <div class="field">
                <label> Password</label>
                <input type="password"
                       id='password'
                       placeholder="Password (at least 6 characters)"
                       ng-model="password" required>
              </div>
              <div class="field">
                <button id="login-password"
                        type="submit"
                        class="fluid ui login button">
                        Login
                </button>
              </div>
            </form>
          </div>

          <div class="ui form" ng-show="regIsOpen">
            <div class="ui divider"></div>
            <div class="field">
              <button id="register"
                      type="submit"
                      class="fluid ui register button"
                      ng-click="register()">
                      Register
              </button>
            </div>
          </div>
        </div>

        <div ng-show="loginState === 'forgot'">
          <div class="ui forgot-password form">
            <form ng-submit="sendResetEmail()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@paypal.com"
                       ng-model="email">
              </div>
              <div class="field">
                <button id="forgot-password"
                        type="submit"
                        class="fluid ui login button">
                        Send Reset Email
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="ui divider"></div>

        <div ng-show="loginState === 'login'" class="forgot">
          <a href="#" ng-click="setLoginState('forgot')">
            Forgot Password?
          </a>
        </div>

        <div ng-show="loginState === 'forgot'" class="forgot">
          <a href="#" ng-click="setLoginState('login')">
            {{regIsOpen ? 'Login or Register' : 'Login'}}
          </a>
        </div>


      </div>
    </div>

  </div>
</div>
