<div id="faq" class="page">
	<div class="divided title">
		FAQ
	</div>
	<div ng-controller="FaqCtrl">
		<uib-accordion close-others="oneAtATime">
			<div uib-accordion-group class="panel-default" heading="What is the theme of this Hackathon?" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
				Improve "Customer Experience" by creating new solutions for front/back office operations.
			</div>
			<div uib-accordion-group class="panel-default" heading="What is the duration of this Innovation?" is-disabled="status.isFirstDisabled">
					Hackathon begins at 9:00 AM on Dec 14<sup>th</sup> and goes on until 5:00 PM on Dec 15<sup>th</sup>. Final presentations is post lunch on Dec 15<sup>th</sup>.
			</div>
			<div uib-accordion-group class="panel-default" heading="What are the judging criteria and who are all the judges?" is-disabled="status.isFirstDisabled">
					Judging criteria<br>
						<ul>
							<li>Impact</li>
							<li>Innovation</li>
							<li>Working prototype</li>
							<li>Presentation</li>
							<li>Production readiness</li>
						</ul>
                	Judges<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mike Vergara, Tushar Shah, Siddharth Zarapkar, Michael Todasco.
			</div>
			<div uib-accordion-group class="panel-default" heading="How many prizes do we have and what is the prize money and how do we receive it?" is-disabled="status.isFirstDisabled">
				There will be one 1st place, 2nd place, and 3rd place respectively. <br>
				<ul>
					<li>1st place: $1000 per team member</li>
					<li>2nd place: $500 per team member</li>
					<li>3rd place: $100 per team member</li>
				</ul>
				One Popular people’s choice award: $300 per team member. T-shirts for all the confirmed participants, cool Paypal swags.
			</div>
			<div uib-accordion-group class="panel-default" heading="When do you announce the final results?" is-disabled="status.isFirstDisabled">
				On Dec 15<sup>th</sup> at 5:00 PM.
			</div>
			<div uib-accordion-group class="panel-default" heading="What is team size? How can I form a team?" is-disabled="status.isFirstDisabled">
				Each participating team should have 3-5 people per team. We encourage you to have team members who are in different ESERV teams as this will give an opportunity to collaborate with different ESERV employees. Have trouble finding team mates ? Please contact <a href="mailto:DL-PP-Eserv-SanJose-Innovation@paypal.com">ESERV Innovation Team DL</a> and they will help you to form a team.
			</div>
			<div uib-accordion-group class="panel-default" heading="Do you have any limitation on team member roles?" is-disabled="status.isFirstDisabled">
				We recommend you have a mix of skillsets in your team. Teams with Cross Functional team mates will get additional points during judging criteria.
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I add both FTE and AWF into my team?" is-disabled="status.isFirstDisabled">
				Of course.
			</div>
			<div uib-accordion-group class="panel-default" heading="Who can participate in this Hackathon?" is-disabled="status.isFirstDisabled">
				This Hackathon is for ESERV San Jose only. All the ESERV Paypal Employees under – tech, product, analytics and GRDS can participate.
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I participate in more than one team?" is-disabled="status.isFirstDisabled">
				No, you can belong to only one team.
			</div>
			<div uib-accordion-group class="panel-default" heading="Do I need to get an approval from my manager to participate?" is-disabled="status.isFirstDisabled">
				It would be nice to let your manager know.
			</div>
			<div uib-accordion-group class="panel-default" heading="How do I get notified after I enrolled my application?" is-disabled="status.isFirstDisabled">
				You should see a "Confirmed" button upon login.	
			</div>
			<div uib-accordion-group class="panel-default" heading="What is the checklist that I need to follow to prepare for my demo?" is-disabled="status.isFirstDisabled">
				Everybody needs to checkin their code. If you are short-listed, your team needs to prepare a 5 minute presentation with a working demo.
			</div>
			<div uib-accordion-group class="panel-default" heading="Can more than one team work on the same idea?" is-disabled="status.isFirstDisabled">
				Yes.
			</div>
			<div uib-accordion-group class="panel-default" heading="Where do I check-in my code?" is-disabled="status.isFirstDisabled">
				Create a repository under <a href="https://github.paypal.com/ESERV-Innovation-SJ">ESERV-Innovation-SJ</a> and you can commit you code to Paypal GitHub.
			</div>
			<div uib-accordion-group class="panel-default" heading="Can I file my idea for Patent?" is-disabled="status.isFirstDisabled">
				Representatives from PayPal Patent team will also be present during the final presentation and the innovative ideas pitched during the hackathon will be submitted for patents.
			</div>
			<div uib-accordion-group class="panel-default" heading="Do you book a room for us to rest during Innovation development?" is-disabled="status.isFirstDisabled">
				 Hackathon will take place in Fireside A,B,C,D. Due to venue restrictions, sometimes you’re going to have to grab some sleep on a sofa, bean bag or on the ground beside your table. You can even go home and complete your project. Sleeping at hackathons isn’t always the most comfortable arrangement, but it’s absolutely worth it for the experience.
			</div>
			<div uib-accordion-group class="panel-default" heading="Do you supply food for us during development?" is-disabled="status.isFirstDisabled">
				Absolutely! there’ll be plenty of food(Breakfast, Lunch, Dinner will have Vegetarian and Non-Vegetarian options), pizza, snacks, coffee and drinks to keep you energized. If you’ve got specific dietary requirements, you should let the event organizers know and they’ll be more than happy to make arrangements.
			</div>
			<div uib-accordion-group class="panel-default" heading="Do you provide a T-Shirt for the participants?" is-disabled="status.isFirstDisabled">
				 Yes. All the confirmed Participants will get a T-shirt provided they let the team know about the size during sign-up.
			</div>
			<div uib-accordion-group class="panel-default" heading="Can we stay overnight at the office and continue our development?" is-disabled="status.isFirstDisabled">
				Yes.
			</div>
			<div uib-accordion-group class="panel-default" heading="Whom do I need to contact if we need any assistance during development?" is-disabled="status.isFirstDisabled">
				Innovation team volunteers will be around to help. Please contact <a href="mailto:DL-PP-Eserv-SanJose-Innovation@paypal.com">ESERV Innovation Team DL</a> for more questions.
			</div>
		</uib-accordian>
	</div>
</div>