<div id="howtoregister" class="page">
	<div class="footer">
  		<a href="/login"><font size="3" align="left" color="#473899"><b>Back to Login</b></font></a>
	</div>
	<div class="divided title">
		How to Register ?
	</div>
	<div>
		<table style="width:100%">
  		 <tr>
  		  <td>&nbsp;<p>
  		  	Ops Hackathon site is not yet SSO compatible. Please follow this steps to register.<br/>
        1. Provide your PayPal corp emailId, any password( atleast 6 characters) and click on "Register" button. <br/>
        2. A verification e-mail wil be sent to you, please follow the e-mail instructions to verify yourself and login.<br/>
        3. Once you are verified and logged in you can create teams, provide information about T-shirt size.<br/></td>  
  		</tr>
  		<tr><td>&nbsp;</td></tr>
  		<tr><td>&nbsp;</td></tr>
  		<tr>
  			<td><img src="assets/images/register.png" alt="" style="width:200px; height:auto;"></td>
  		</tr>
      </table>
	</div>
</div>